*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*bottom-низ top-верх left-лево right-справа (border) box-shadow: 5px-влево 5px-вниз 10px-радиус 15px-расстояние тени inset-тень внутрь блока outline-линия около текста
opacity-прозрачность текста 0-1
пример

margin
 margin-bottom: 0
margin-left: 0
margin-right: 0
margin-top: 0

.example-block{


visibility: visible;
font-size: 30px;

}

.example-string{

display: block;
font-size: 30px;
border: 6px solid #000;
}

.example-image{

	border-radius: 50px;
	overflow: hidden;

	}*/
	/*background: url("../img/ex1.jpg");- ЦВЕТ БЛОКА div  */ 
	/*Old browser
.bodycolor{

  background: rgb(132,174,241);
background: radial-gradient(circle, rgba(132,174,241,1) 0%, rgba(83,76,210,1) 51%, rgba(140,152,238,1) 100%);
	}
ВАЖНЫЙ КОД БЭКГРАУНД градиент !!!!!!

height: 200px;
border-radius: 15px;
box-shadow: 0 0 10px 6px #000
таблица

body{
background: url(../img/nature.jpg) round fixed;
	padding: 150px 30px 30px 30px;
	body 
*/
body{
background-image: url(../img/fon_osnov.jpg);
 background-position: fixed;

}

.craenad{
	margin: 30px;
	box-shadow:  1px /*влево*/ 2px /*вниз*/ 4px /*радиус*/ 3px /*расстояние тени*/;
}

.imgcr{
	margin-top: 50px;
	box-shadow:  1px /*влево*/ 2px /*вниз*/ 4px /*радиус*/ 3px /*расстояние тени*/;
}